.chart-stats {
  width: 6rem !important;
  margin: 5px;
}

.chart-stats-select-name {
  display: inline-block;
  width: 6rem;
  margin: 5px;
  margin-bottom: 0px;
}

.chart-stats-select {
  text-align: center;
}
