.navbar {
  background-color: #3fa055;
  padding: 0 150px;
  margin-bottom: 0;
}

.navbar div li a,
.profit-link,
.nav-link,
.dropdown-item {
  color: #ffffff;
  padding: 16px 20px !important;
  transition: 0.2s;
}

.navbar div li a:hover,
.profit-link:hover,
.nav-link:hover,
.dropdown-item:hover {
  display: block;
  background-color: #424242;
  color: #ffffff;
  transition: 0.1s;
}

a,
.nav-link:hover,
.dropdown-item:hover {
  cursor: pointer;
}

.nav-link.active,
.nav-link.active:hover {
  display: block;
  background-color: #218639;
  color: #ffffff;
  transition: 0.1s;
}

.navbar-toggler {
  color: #ffffff;
  font-size: 26px;
}

.dropdown-menu {
  padding: 0 !important;
  margin-top: -1px !important;
  background-color: #3fa055;
}

.badge {
  transition: 0.5s;
  background-color: #ffffff !important;
}

.profit-link {
  color: #ffffff;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

@media (max-width: 368px) {
  .profit-link {
    font-size: 14px;
    width: 7rem;
    height: 3.5rem;
  }

  span.badge {
    margin: 0 auto;
    position: relative;
    left: 1px;
    top: -6px;
    min-width: 35px;
  }

  .navbar-collapse {
    top: 55px !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }
}

@media (max-width: 1199.5px) {
  .navbar-collapse {
    background-color: #3fa055;
    position: absolute;
    top: 56px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 15rem;
    height: 10000%;
  }

  .navbar-collapse.collapsing {
    padding: 0 0 !important;
    height: auto;
    -webkit-transition: right 0.1s ease;
    -o-transition: right 0.1s ease;
    -moz-transition: right 0.1s ease;
    transition: right 0.1s ease;
    right: -100%;
    height: 10000%;
  }
  .navbar-collapse.show {
    padding: 0 0 !important;
    right: 0;
    -webkit-transition: right 0.1s ease-in;
    -o-transition: right 0.1s ease-in;
    -moz-transition: right 0.1s ease-in;
    transition: right 0.1s ease-in;
  }
  .navbar-collapse.show {
    padding-bottom: 5px !important;
  }
  .dropdown-menu.show {
    margin-bottom: 30px !important;
  }

  .profit-link {
    margin-right: 1rem;
  }
}
