.react-datepicker-wrapper div input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}

label {
  padding-left: 5px;
}

.form-wrapper {
  width: 280px;
  margin: 0 auto;
}

.datetime-picker-input,
.decimal-input,
.custom-select {
  width: 10rem !important;
}
