*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: "Nunito";
  padding-bottom: 10rem;
}

.content {
  padding: 0 0 !important;
  padding-top: 80px !important;
}

.content div {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.profit-plus {
  color: #006600;
}
.profit-minus {
  color: #c4372f;
}

canvas {
  height: 200px;
}

.block-title:before,
.block-title:after {
  content: "";
  width: 7px;
  height: 2px;
  position: absolute;
  top: 8px;
  left: 2px;
  transition: 100ms;
  background-color: #007bff;
}

.block-title.block-active:before {
  top: 14px;
  transform: rotate(45deg);
  left: 27px;
}

.block-title.block-active:after {
  top: 14px;
  transform: rotate(-45deg);
  left: 23px;
}

.block-title:before {
  top: 14px;
  left: 26px;
  transform: rotate(-45deg);
}

.block-title:after {
  top: 14px;
  transform: rotate(45deg);
  left: 22px;
}

.block-title.block-active {
  background-color: #f4f9ff;
}

.block-title.block-active:hover {
  background-color: #d6e8ff;
}

.block-title {
  text-align: left !important;
  margin: 0 auto;
  transition: 0.3s;
  height: 30px;
  width: 290px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  padding: 5px 0px 0px 50px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 1rem;
}

.block-title:hover {
  cursor: pointer;
  background-color: #f4f9ff;
}

.block-container {
  display: none;
  width: 260px;
  text-align: center;
  margin: 0 auto;
  background-color: #f4f9ff;
  border: 1px solid #007bff;
  border-top: none;
  padding-bottom: 0.75rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.col.date-filter {
  width: 200px !important;
  padding: 0 0 !important;
  margin-right: 0 !important;
}

.date-picker-input {
  width: 7rem;
  font-size: 14px !important;
}

.date-start-picker,
.date-end-picker {
  display: inline-block;
  margin: 12px 6px;
}

.react-datepicker__month-container {
  font-size: 12px;
}

.date-label {
  padding: 0 !important;
}

.custom-select.chart-stats {
  width: 6rem !important;
}

.clear-btn {
  width: 7.75rem;
  margin-right: 0.75rem;
}

.search-btn {
  width: 6rem;
}
