.expense-table {
  background-color: #007bff;
}

.earning-table {
  background-color: #ffdc00;
  color: #252525 !important;
}

.delete-icon {
  margin-right: 10px;
}

.delete-icon:hover,
.edit-icon:hover {
  cursor: pointer;
}

.fa-trash {
  color: #ff3d15;
}

.fa-pen {
  color: #004fa3;
}

.fa-sort,
.fa-caret-up,
.fa-caret-down {
  font-size: 12px;
}

.col-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  margin: 0 auto;
  max-width: 500px;
}

table td,
table tbody th {
  padding: 10px 0px 10px 5px !important;
}

.thead {
  color: #f5f5f5;
}

@media (max-width: 428px) {
  table {
    font-size: 12px;
  }

  thead th {
    font-weight: lighter !important;
  }

  tr th {
    padding: 6px !important;
  }

  .fa-sort,
  .fa-caret-up,
  .fa-caret-down {
    font-size: 10px;
  }
}
