@import "../../css/font-awesome-animation.min.css";

.profit-table tr td {
  padding: 4px !important;
}

.fa-ellipsis-h {
  margin-left: 1rem;
  font-size: 18px;
}

.fa-red {
  color: #ff0000;
}

.fa-green {
  color: #00a80e;
}

.fa-dark-green {
  color: #007c0a;
}
.profit {
  padding: 1rem;
}

.label-text {
  display: inline-block;
  width: 10rem !important;
  text-align: left;
}

.expense i {
  color: red;
}

.earning i {
  color: green;
}

@media (max-width: 428px) {
  .profit-table {
    font-size: 14px;
  }
}
