.modal-body form div div {
  margin: 0 auto !important;
}

.submit-btn {
  margin: 0 auto !important;
}

.switch-auth {
  text-decoration: underline !important;
  color: #005fc4 !important;
}

.switch-auth:hover {
  cursor: pointer !important;
}
